@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* ======== GENERAL ========= */

.main__btn {
  background-color: #E4E447;
  font-family: "DM Sans", sans-serif;
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  padding-block: 0.7em;
  margin-top: 0.5em;
  transition: all 0.3s ease;
}

.main__btn:hover {
  background-color: #cfcf2a;
  cursor: pointer;
  transform: scale(1.01);
  transform: translateY(-4px);
}

.main__btn:active {
  transform: scale(0.9);
}

/* ================= */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

.main__navbar {
  background-color: #fef9f1;
}

.main-header {
  min-height: 90px;
  padding-block: 12px;
  padding-inline: 42px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand-name {
  text-decoration: none;
  color: #333;
  height: 75px;
}

.brand-name>figure {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scale: 1.3;
  transition: scale 0.3s ease-out;
}

.brand-name>figure:hover {
  scale: 1.5;
}

.brand-name>figure:hover img {
  transition: all 0.3s ease-out;
  filter: drop-shadow(0 0 0.75rem rgb(249, 196, 98));
}

.navigation-drawer {
  background-color: yellowgreen;
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: #fff;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;

  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;

  display: inline-block;
  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.nav-list li a {
  padding: 6px 10px;

  display: block;
  font-weight: 600;
  color: #b5512e;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}

/* MAIN */
.main-content {
  padding-block: 20px;
}

/* Write your styles more here */
.hero {
  background-color: red;
}

.hide-me {
  display: none;
}

/* AUTH STYLE */
.auth {
  position: relative;
}

.auth__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
}


.auth__container {
  justify-content: center;
  display: flex;
  padding-block: 1em;
  gap: 16px;
  max-height: 100vh;
  align-items: center;
}

.auth__container--register {
  flex-direction: row-reverse;
}

.auth__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 515px;
}

.auth__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: transparent;
  text-align: center;
}

.auth__title {
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 2.2em;
}

.auth__description {
  text-align: left;
  font-size: 1em;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth__field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.auth__label {
  position: absolute;
  left: 0;
  top: 28px;
  font-size: 1.2em;
  font-weight: 500;
  opacity: 1;
  transition: all 0.3s ease;
  pointer-events: none;
}

.auth__input {
  font-size: 1.2em;
  border: none;
  outline: none;
  padding-block: 8px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.50);
  background-color: transparent;
  transition: all 0.3s ease;
  margin-bottom: 4px;
}

.auth__input:focus+.auth__label,
.auth__input:not(:placeholder-shown)+.auth__label {
  top: 0;
  font-size: 1em;
  opacity: 0.6;
  transform: translateY(-4px);
}

.auth__input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.auth__link,
.auth__link:visited {
  color: #b5512e;
  cursor: pointer;
  text-underline-offset: 4px;
  transition: all 0.1s ease;
}

.auth__link:hover {
  text-shadow: #ffcc00 1px 0 10px;
}

.auth__decoration {
  display: none;
  position: relative;
  height: 500px;
}

.auth__figure {
  width: 100%;
  height: 100%;
}

.auth__figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .drawer-button {
    display: none;
  }

  .auth__decoration {
    display: flex;
  }

  .auth__navbar {
    position: absolute;
  }

  .auth__navbar--register {
    right: 48px;
  }

  .auth__container {
    justify-content: center;
    display: flex;
    padding-block: 3.5em;
    padding-right: 4em;
    gap: 16px;
    max-height: 100vh;
    align-items: center;
  }

  .auth__container--register {
    padding-right: 0px !important; 
    padding-left: 8em;
  }

  .auth__header {
    text-align: left;
  }

  .auth__content {
    width: 50%;
  }
}